<!DOCTYPE html>
<html lang="en">
<head>

 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
 <h1>Aja Ferguson</h1>
 <p>Im committed to growth and excellence and I will acheive my goals through Christ who strengthens me.</p>
 <img
    src="{{ url_for('static', filename='Evolution-of-Coding-scaled.jpg') }}"
    alt="My Present & Future"
    style="max-width: 500px;"
  >

</body>
</html>